POSTGRES_USER=app_user_name
POSTGRES_PASSWORD=change_this_to_something_never_checked_in
POSTGRES_DB=database_not_server_name
DJANGO_SECRET_KEY=change_this_to_something_never_checked_in
GITHUB_REPOSITORY=your_org/your_repo
